@keyframes slide-up{
    from {margin-top: 50%;}
}

@keyframes fade-in{
    from {opacity: 0;}
    66% {opacity: 0;}
}

@keyframes grow {
    from {width: 25%;}
    to {width: 75%;}
}

@keyframes growh {
    from {height: 25%;}
    to {height: 65%;}
}

@keyframes show {
    from {display: none;}
}

*{
    font-family: serif;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 22px;
    animation-name: slide-up;
    animation-duration: 2.0s;
}

body{
    background-color: cyan;
    background: linear-gradient(to right, rgb(255, 105, 105), violet, cyan,violet, rgb(255, 105, 105));

}

.info-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: white;
    padding: 16px;
    border-radius: 24px;
    width: 90%;
    margin-left: 5%;
}

h1{
    background-color: white;
    text-align: center;
    width: 15%;
    margin-left: 43.25%;
    padding: 2px;
    border-radius: 24px;
}

h3{
    background-color: white;
    text-align: center;
    width: 35%;
    margin-left: 32.75%;
    padding: 2px;
    border-radius: 24px;
}

h4{
    background-color: white;
    text-align: center;
    padding: 2px;
    border-radius: 24px;
}

.icon{
    width: 25%;
    height: auto;
    object-fit:scale-down;
    border-radius: 16px;
    animation-name: show;
    animation-duration: 1s;
}

.full{
    display: none;
    border-radius: 16px;
}

.info{
    background-color: white;
    text-align: center;
    border-radius: 24px;
    border: solid 2px black;
    padding: 20px;

}

.infoPhone{
    background-color: white;
    text-align: center;
    border-radius: 24px;
    border: solid 2px black;
    padding: 20px;

}

.info:hover{
    height: 50vh;
    .full{
        animation-name: grow;
        animation-duration: 1s;
        display:initial;
        width: 75%;
    }
    
    .icon{
        display:none;
    }
}

.infoPhone:hover{
    height: 50vh;
    width: 70vh;
    .full{
        animation-name: growh;
        animation-duration: 1s;
        display:initial;
        height: 65%;
    }
    
    .icon{
        display:none;
    }
}

.container{   
    text-align: center;
    animation-name: fade-in;
    animation-duration: 3s;
    background-color: white;
    padding: 24px;
    border-radius: 24px;

}

.links{
    background-color: white;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    border-radius: 16px;
    width: 70%;
    position:relative;
    left: 15%;
    animation-name: fade-in;
    animation-duration: 3s;
    a:link{
        color: green;
    }

    a:visited{
        color: blueviolet;
    }

    a:hover {
        color: orange;
      }
}